/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 10px; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  overflow: hidden; }

main {
  display: block; }

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0; }
  button:hover {
    cursor: pointer; }
  button[disabled]:hover {
    cursor: default; }

.wrapper {
  position: static; }

.three {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  z-index: 0; }

.browser-frame {
  position: absolute;
  width: 800px;
  left: 0;
  top: 0;
  margin-top: -61px;
  z-index: 1; }
  .browser-frame .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 61px;
    background-image: url(../img/browser-frame-left.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0% 0; }
  .browser-frame .right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 61px;
    background-image: url(../img/browser-frame-right.png);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: 100% 0; }
  .browser-frame .title {
    position: absolute;
    left: 20px;
    top: 7px;
    font-size: 11px; }

.bg-site {
  position: static; }
  .bg-site iframe {
    background-color: #fff; }

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); }

.media {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 640px;
  height: 380px;
  margin-left: -320px;
  margin-top: -190px;
  z-index: 1; }
  .media .face {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 350px;
    background-color: #000;
    z-index: 0; }
    .media .face .movie {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
      .media .face .movie canvas {
        width: 100%;
        height: 100%; }
  .media .controller {
    position: absolute;
    left: 0;
    top: 350px;
    width: 640px;
    height: 30px;
    color: #fff;
    background-color: #333; }
    .media .controller .time {
      display: inline-block;
      width: 280px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 9px;
      text-align: center; }
    .media .controller .btn-gotohead {
      width: 30px;
      height: 30px;
      background-image: url(../img/gotohead.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;
      text-indent: -9999px; }
    .media .controller .btn-play {
      width: 30px;
      height: 30px;
      background-image: url(../img/pause.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;
      text-indent: -9999px; }
    .media .controller .btn-play.pause {
      background-image: url(../img/play.svg); }
    .media .controller .btn-sound {
      width: 30px;
      height: 30px;
      background-image: url(../img/sound_on.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;
      text-indent: -9999px; }
    .media .controller .btn-setting {
      width: 30px;
      height: 30px;
      background-image: url(../img/setting.svg);
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;
      text-indent: -9999px; }
