/*----------------------------------------
1.ãƒ‘ãƒãƒ«å¸‚å ´

2.ãƒ¡ã‚¤ãƒ³å¸‚å ´

3.ã‚³ãƒ³ã‚½ãƒ¼ãƒ«å¸‚å ´
----------------------------------------*/

/*
 
	9px  : 69%		18px : 138.5%
	10px : 77%		19px : 146.5%
	11px : 85%		20px : 153.9%
	12px : 93%		21px : 161.6%
	13px : 100%		22px : 167%
	14px : 108%		23px : 174%
	15px : 116%		24px : 182%
	16px : 123.1%	25px : 189%
	17px : 131%		26px : 197%
*/

/*----------------------------------------
1.ãƒ‘ãƒãƒ«å¸‚å ´
----------------------------------------*/
#ichibaPickup div,
#ichibaPickup dl,
#ichibaPickup dt,
#ichibaPickup dd,
#ichibaPickup ul,
#ichibaPickup ol,
#ichibaPickup li,
#ichibaPickup h1,
#ichibaPickup h2,
#ichibaPickup h3,
#ichibaPickup h4,
#ichibaPickup h5,
#ichibaPickup h6,
#ichibaPickup pre,
#ichibaPickup form,
#ichibaPickup fieldset,
#ichibaPickup input,
#ichibaPickup textarea,
#ichibaPickup p,
#ichibaPickup th,
#ichibaPickup td {padding: 0;margin: 0;}
#ichibaPickup table {border-collapse: collapse;border-spacing: 0;}
#ichibaPickup h1,
#ichibaPickup h2,
#ichibaPickup h3,
#ichibaPickup h4,
#ichibaPickup h5,
#ichibaPickup h6 {font-weight: normal;font-size: 100%;}
#ichibaPickup img { -ms-interpolation-mode: bicubic;border: 0; }

#ichibaPickup {width: 244px;height: 370px;font: 13px/1.231 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro', 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯', 'MS P Gothic', sans-serif;*font-size:small;*font:x-small;color: #333;}

#ichibaPickup #ichibaPickupHeader {padding: 2px 3px 4px 0;font-size: 108%;text-align: center;}
#ichibaPickup #ichibaPickupHeader a {color: #999;font-weight: bold;text-decoration: none;}
#ichibaPickup #ichibaPickupHeader a:hover {text-decoration: underline;}

#ichibaPickup #ichibaPickupTag {min-height: 65px; margin-bottom: 1px;position: relative;}
#ichibaPickup #ichibaPickupTag .ue {margin: 0 auto;width: 213px;padding: 0 0 0 15px;position: absolute;bottom: 19px;}
#ichibaPickup #ichibaPickupTag .ue a {display: block;background: url('../../../img/watch_zero/ichiba/imgPickupBalloonUe.png') top center no-repeat;text-align: center;padding:8px 20px 0;color: #666 !important;font-size: 123.1%;line-height: 1.2em;word-wrap: break-word;text-decoration: none;margin: 0 auto;}
#ichibaPickup #ichibaPickupTag a:hover {text-decoration: underline;}
#ichibaPickup #ichibaPickupTag .shita {width: 213px;margin: 0 auto; border: 0px; padding: 0 0 0 15px; font-size: 0px;position: absolute;bottom: 0;}
#ichibaPickup #ichibaPickupItem {width: 210px;height: 210px;overflow: hidden;margin: 0 auto;padding: 0px;}
#ichibaPickup #ichibaPickupItem a {color: #06c;text-decoration: none;font-family:'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ Pro W3', 'Hiragino Mincho Pro', 'ï¼­ï¼³ ï¼°æ˜Žæœ','MS PMincho', serif;}
#ichibaPickup #ichibaPickupItem img{border: 1px solid #ccc;}

#ichibaPickup #ichibaPickupItem .lblChannel {position: absolute;margin-top: 25px;line-height: 0;}
#ichibaPickup #ichibaPickupItem .pickupChannel {width: 210px;margin-top: 25px;}

#ichibaPickup #ichibaPickupItem p.noItem {margin: 70px 0;color: #666;text-align: center;font-size: 20px;}
#ichibaPickup #ichibaPickupNicoru {position: absolute;float: left;height: 20px;line-height: 20px;margin-left: 14px;margin-top: 3px;}
#ichibaPickup #ichibaPickupStatus {text-align: right;font-size: 116%;margin: 4px 14px 2px 0;line-height: 18px;height: 20px;}
#ichibaPickup #ichibaPickupStatus .reservation {color: #f00;font-weight: bold;}
#ichibaPickup #ichibaPickupStatus .buy {color: #f60;font-weight: bold;}
#ichibaPickup #ichibaPickupStatus .click {color: #666;font-weight: bold;}
#ichibaPickup #ichibaPickupStatus .text {color: #666;}
#ichibaPickup #ichibaPickupStatus .reservation a {color: #f00;font-weight: bold;text-decoration: none;}
#ichibaPickup #ichibaPickupStatus .buy a {color: #f60;font-weight: bold;text-decoration: none;}
#ichibaPickup #ichibaPickupStatus .click a {color: #666;font-weight: bold;text-decoration: none;}
#ichibaPickup #ichibaPickupStatus .text a {color: #666;text-decoration: none;}
#ichibaPickup #ichibaPickupStatus a:hover {text-decoration: underline;color: #666;}
#ichibaPickup #ichibaPickupStatus a {text-decoration: none;}

#ichibaPickup .nicoru-button {display: block;width: 80px;float: right;margin-right: 10px;}

#ichibaPickup #ichibaPickupGoTab {clear: both;text-align: center;padding:0 0 6px;}
#ichibaPickup #ichibaPickupGoTab a{color: #272;text-decoration: underline;}
#ichibaPickup #ichibaPickupGoTab a:hover {text-decoration: none;}
#ichibaPickup #ichibaPickupGoTab button {font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯', 'MS P Gothic', sans-serif;}
#ichibaPickup #ichibaPickupGoTab span.noItem {display: block;padding: 0;text-align: center;font-size: 138.5%;}

#ichibaPickup #ichibaPickupOverlay {display: block;width: 170px;height: 100px;position: absolute;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;color: #666;background: #000;padding: 5px;top: 150px;left: 40px;z-index: 5;}
#ichibaPickup #ichibaPickupOverlay .main {text-align: center;height: 70px;padding-top: 10px;width: 160px;}
#ichibaPickup #ichibaPickupOverlay .main table.pasted {margin: 0 auto;height: 70px;line-height: 2em;text-align: center;vertical-align: middle;position: absolute;left: 12px;width: 160px;}
#ichibaPickup #ichibaPickupOverlay .main table.edited {margin: 0 auto;height: 70px;line-height: 2em;text-align: center;vertical-align: middle;position: absolute;left: 22px;width: 160px;}
#ichibaPickup #ichibaPickupOverlay .main table.clicked {margin: 0 auto;height: 70px;line-height: 2em;text-align: center;vertical-align: middle;position: absolute;left: 36px;width: 160px;}
#ichibaPickup #ichibaPickupOverlay .main .em {font-size: 197%;}
#ichibaPickup #ichibaPickupOverlay .main .subem {font-size: 146.5%;}
#ichibaPickup #ichibaPickupOverlay .time {text-align: right;font-size: 93%;color: #444;}

/*----------------------------------------
2.ãƒ¡ã‚¤ãƒ³å¸‚å ´
----------------------------------------*/
#ichibaMain div,
#ichibaMain dl,
#ichibaMain dt,
#ichibaMain dd,
#ichibaMain ul,
#ichibaMain ol,
#ichibaMain li,
#ichibaMain h1,
#ichibaMain h2,
#ichibaMain h3,
#ichibaMain h4,
#ichibaMain h5,
#ichibaMain h6,
#ichibaMain pre,
#ichibaMain form,
#ichibaMain fieldset,
#ichibaMain input,
#ichibaMain textarea,
#ichibaMain p,
#ichibaMain th,
#ichibaMain td {padding: 0;margin: 0;}
#ichibaMain table {border-collapse: collapse;border-spacing: 0;}
#ichibaMain h1,
#ichibaMain h2,
#ichibaMain h3,
#ichibaMain h4,
#ichibaMain h5,
#ichibaMain h6 {font-weight: normal;font-size: 100%;}
#ichibaMain img { -ms-interpolation-mode: bicubic;border: 0; }

#ichibaMain {width: 608px;font: 13px/1.231 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro', 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯', 'MS P Gothic', sans-serif;*font-size:small;*font:x-small;margin: 0;padding: 0;}

#ichibaMain #ichibaMainLogo {float: left;color: #666;font-weight: normal;font-size: 124%; text-shadow:1px 1px 1px #666;}
#ichibaMain #ichibaMainLogo a {color: #666;text-decoration: none;}
#ichibaMain #ichibaMainLogo a:hover {color: #666;text-decoration: underline;}
#ichibaMain #ichibaMainHeader {text-align: right;padding: 8px 5px 8px 12px;}
#ichibaMain #ichibaMainHeader a {color: #999;text-decoration: underline;}
#ichibaMain #ichibaMainHeader a:hover {text-decoration: none;}
#ichibaMain #ichibaMainHeader .loading {font-size: 123.1%;color: #333;}

#ichibaMain dl {width: 180px;float: left;margin: 0 11px 30px;word-break:break-all;word-wrap:break-word;white-space:normal;}
#ichibaMain dt {height: 50px;position: relative;}
#ichibaMain .rowJustify {clear: both;}
#ichibaMain .balloonUe {display: block;padding: 0 auto;width: 180px;bottom: 12px;position: absolute;}
#ichibaMain .balloonUe a {display: block;background: url('../../../img/watch_zero/ichiba/imgMainBalloonUe.png') top center no-repeat;text-align: center;padding:8px 15px 3px;color: #666 !important;font-size: 108%;line-height: 1.2em;word-wrap: break-word;text-decoration: none;margin: 0 auto;}
#ichibaMain .balloonUe a:hover {text-decoration: underline;}
#ichibaMain .balloonShita {height: 12px;bottom: 0;position: absolute;}
#ichibaMain .balloonShita img {vertical-align: top !important;}
#ichibaMain .balloonZero {display: block;margin: 0 auto;width: 180px;padding: 0;height: 50px;}
#ichibaMain dd {line-height: 1.4;}
#ichibaMain .thumbnail {margin: 0 0 3px;}
#ichibaMain .thumbnail img {border: 1px solid #ccc;}
#ichibaMain .thumbnail a {color: #06c;text-decoration: none;font-family:'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ Pro W3', 'Hiragino Mincho Pro', 'ï¼­ï¼³ ï¼°æ˜Žæœ','MS PMincho', serif;}
#ichibaMain .release {font-size: 77%;margin-bottom: 2px;}
#ichibaMain .release span {color: #f00;}
#ichibaMain .itemname {font-size: 100%;font-weight: bold;margin-bottom: 2px;}
#ichibaMain .itemname a {color: #06c;text-decoration: none;}
#ichibaMain .itemname a:hover {text-decoration: underline;}
#ichibaMain img.lock {border: none;}
#ichibaMain .superLock {color: #f80;}
#ichibaMain .maker {font-size: 77%;color: #999;margin-bottom: 2px;}
#ichibaMain .price {font-size: 85%;color: #000;margin-bottom: 2px;}
#ichibaMain .price span {color: #c00;}
#ichibaMain .action {color: #777;font-size: 85%;margin-bottom: 2px;}
#ichibaMain .action .reservation {color: #f00;font-weight: bold;}
#ichibaMain .action .reservationYesterday {color: #f00;font-weight: bold;}
#ichibaMain .action .buy {color: #f60;font-weight: bold;}
#ichibaMain .action .buyYesterday {color: #f60;font-weight: bold;}
#ichibaMain .action .click {color: #222;}
#ichibaMain .goIchiba {font-size: 77%;margin: 5px 0;}
#ichibaMain .goIchiba a {color: #060;text-decoration: underline;}
#ichibaMain .goIchiba a:hover {text-decoration: none;}
#ichibaMain .nicoru {text-align: left;height: 24px;}
#ichibaMain .nicoruInner {display: block;}
#ichibaMain .lblChannel {position: absolute;margin-left: 25px;line-height: 0;}
#ichibaMain dd.channel {text-align: center;}
#ichibaMain dd.channel img.mainChannel {width: 130px;height: 100px;}
#ichibaMain dd.mobile {text-align: center;}
#ichibaMain dd.mobile a { display: block; width: 185px; height: 23px; text-indent: -9999px;background: url('../../../img/watch_zero/ichiba/lblMobile.png') no-repeat;}
#ichibaMain dd.mobile a.book {background-position: 0 0;}
#ichibaMain dd.mobile a.melo {background-position: 0 -36px;}
#ichibaMain dd.mobile a.uta {background-position: 0 -72px;}
#ichibaMain dd.mobile a.decome {background-position: 0 -108px;}
#ichibaMain dd.mobile a.douga {background-position: 0 -144px;}
#ichibaMain dd.mobile a.machiuke {background-position: 0 -180px;}
#ichibaMain dd.mobile a.game {background-position: 0 -216px;}
#ichibaMain dd.mobile a.kisekae {background-position: 0 -252px;}
#ichibaMain dd.mobile a.kashi {background-position: 0 -288px;}
#ichibaMain dd.mobile a.machicha {background-position: 0 -324px;}
#ichibaMain dd.mobile a.movie {background-position: 0 -360px;}
#ichibaMain dd.mobile a.other {background-position: 0 -396px;}
#ichibaMain dd.mobile a.pv {background-position: 0 -432px;}
#ichibaMain dd.mobile a.pvfull {background-position: 0 -468px;}
#ichibaMain dd.mobile a.stream {background-position: 0 -504px;}
#ichibaMain dd.mobile a.utafull {background-position: 0 -540px;}
#ichibaMain dd.mobile a.voice {background-position: 0 -576px;}

#ichibaMain table.pia {clear: both;width: 573px;margin: 0 auto;}
#ichibaMain td.balloon {position: relative;}
#ichibaMain td.item {position: relative;}


#ichibaMain dl.pia {clear: both;width: 606px;margin: 0 auto;}
#ichibaMain dl.pia dt {width: 606px;margin: 0 auto;height: 50px;position: relative;}
#ichibaMain dl.pia .balloonUe {display: block;margin: 0 auto;width: 606px;bottom: 12px;position: absolute;}
#ichibaMain dl.pia .balloonUe a {display: block;background: url('../../../img/watch_zero/ichiba/imgMainBalloonUe.png') top center no-repeat;text-align: center;padding:8px 15px 3px;color: #666 !important;font-size: 108%;line-height: 1.2em;word-wrap: break-word;text-decoration: none;margin: 0 auto;width: 150px;}
#ichibaMain dl.pia .balloonUe a:hover {text-decoration: underline;}
#ichibaMain dl.pia .balloonShita {height: 12px;bottom: 0;position: absolute;width: 606px;text-align: center;}
#ichibaMain dl.pia .balloonShita img {vertical-align: top !important;}
#ichibaMain dl.pia .balloonZero {display: block;margin: 0 auto;width: 180px;padding: 0;height: 50px;}
#ichibaMain dl.pia dd.pia {text-align: left;width: 574px;border: 1px solid #ccc;background: #fff;padding: 5px;margin: 0 auto;}
#ichibaMain dl.pia dd.pia a {color: #039;text-decoration: none;font-family:'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ Pro W3', 'Hiragino Mincho Pro', 'ï¼­ï¼³ ï¼°æ˜Žæœ','MS PMincho', serif;font-weight: bold;line-height: 1.1;}
#ichibaMain dl.pia dd.pia a span.onsale {color: #c00;}
#ichibaMain dl.pia dd.pia span.eke {display: block;text-align: center;font-size: 12px;padding-top:10px;}
#ichibaMain dl.pia dd.pia span.eke span.start {font-size: 14px;font-weight: bold;}
#ichibaMain dl.pia dd.pia span.eke span.place {font-size: 14px;font-weight: bold;color: #00515b;}
#ichibaMain dl.pia dd.ichiba {font-size: 14px;color: #666;text-align: center;padding: 3px 0 0;}
#ichibaMain dl.pia dd.nicoruPia {text-align: center;padding-bottom: 15px;height: 24px;}

#ichibaMain dl.pia dd.ichiba .reservation {color: #c00;font-weight: bold;}
#ichibaMain dl.pia dd.ichiba .buy {color: #f60;font-weight: bold;}
#ichibaMain dl.pia dd.ichiba .clickThisMovie {color: #000;font-weight: bold;}
#ichibaMain dl.pia dd.ichiba .goIchiba {color: #693;font-size: 11px;}



#ichibaMain #ichibaMainFooter {min-height: 120px;}
#ichibaMain #ichibaMainFooter .commandArea {text-align: center;font-size: 93%;}
#ichibaMain #ichibaMainFooter .commandArea input {margin: 20px 0 40px;padding: 8px 25px;font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic';}
#ichibaMain #ichibaMainFooter .commandArea2 {color: #777;position: absolute;margin-top: -55px;margin-left: 365px;font-size: 77%;}
#ichibaMain #ichibaMainFooter .commandArea2 a {color: #777;text-decoration: underline;}
#ichibaMain #ichibaMainFooter .commandArea2 a:hover {text-decoration: none;}
#ichibaMain #ichibaMainFooter .info {float: left;padding-left: 5px;font-size: 85%;color: #666;}
#ichibaMain #ichibaMainFooter .info img {vertical-align: middle;}
#ichibaMain #ichibaMainFooter .info a {color: #666;text-decoration: underline;}
#ichibaMain #ichibaMainFooter .info a:hover {text-decoration: none;}
#ichibaMain #ichibaMainFooter .associate {float: right;padding-right: 5px;font-size: 85%;color: #666;padding-bottom: 5px;}
#ichibaMain #ichibaMainFooter .associate a {color: #666;text-decoration: underline;}
#ichibaMain #ichibaMainFooter .associate a:hover {text-decoration: none;}

#ichibaMain p.noItem {margin: 120px 0;color: #888;text-align: center;}

#ichibaMain p.noItem {color: #999;text-align: center;margin: 20px 0 20px;}
#ichibaMain p.noItem span.intro {display: block;text-align: center;font-size: 197%;margin-bottom: 20px;color: #aaa;}
#ichibaMain p.noItem span.navigate {display: block;width: 450px;margin: 0 auto;text-align: center;font-size: 138.5%;margin-bottom: 10px;}

#ichibaMain p.noItem .search {display: block;height: 40px;line-height: 40px;vertical-align: middle;width: 450px;margin: 0 auto;text-align: center;}
#ichibaMain p.noItem .search .word {background: url('../../../img/watch_zero/ichiba/bgConsoleIchibaSearchIcon.png') 5px no-repeat #fff;border: 1px solid #ccc;padding: 5px 2px 5px 30px;font-family:verdana,arial,helvetica,sans-serif;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;box-shadow: 1px 1px 1px 1px #ddd inset;cursor: text;}
#ichibaMain p.noItem .search .command {line-height: 40px;vertical-align: middle;border: none;background: none;}
#ichibaMain p.noItem .eke {display: block;width: 450px;margin: 0 auto;text-align: center;}

/*---------main blomaga NP-----------------*/
#ichibaMain dd.blomagaNP {background: url('../../../img/watch_zero/ichiba/bgMainBlomagaNP.png') no-repeat ;width: 180px;height: 230px;margin: 0 auto;}
#ichibaMain dd.blomagaNP a {display: block;width: 180px;height: 230px;color: #333;text-decoration: none;}
#ichibaMain dd.blomagaNP a:hover {text-decoration: none;}
#ichibaMain dd.blomagaNP img {border: 1px solid #999;}
#ichibaMain dd.blomagaNP p.blomagaLogo {font-size: 9px;font-weight: bold;color: #fff;padding-top: 29px;padding-left: 35px;}
#ichibaMain dd.blomagaNP p.blomagaLogo span {background: #aaa;padding: 0 3px;}
#ichibaMain dd.blomagaNP p.blomagaText {padding: 5px 30px 0 20px;text-align: center;font-family: 'HGSæ˜ŽæœE','ï¼­ï¼³ æ˜Žæœ';height: 120px;word-break:break-all;word-wrap:break-word;white-space: normal;font-size: 16px;color: #666;}
#ichibaMain dd.blomagaNP p.blomagaAuthor {color: #666;font-size: 11px;padding: 0 32px 0 20px;text-align: center;}
/*---------main blomaga -----------------*/
#ichibaMain dd.blomaga {background: url('../../../img/watch_zero/ichiba/bgMainBlomaga.png') no-repeat ;width: 180px;height: 230px;margin: 0 auto;}
#ichibaMain dd.blomaga a {display: block;width: 180px;height: 230px;color: #333;text-decoration: none;}
#ichibaMain dd.blomaga a:hover {text-decoration: none;}
#ichibaMain dd.blomaga img {border: 1px solid #999;}
#ichibaMain dd.blomaga p.blomagaLogo {font-size: 9px;font-weight: bold;color: #fff;padding-top: 19px;padding-left: 35px;}
#ichibaMain dd.blomaga p.blomagaLogo span {background: #aaa;padding: 0 3px;}
#ichibaMain dd.blomaga p.blomagaThumbnail {padding: 5px 17px 0;}
/*---------main blomaga article NP-----------------*/
#ichibaMain dd.blomagaArticleNP {background: url('../../../img/watch_zero/ichiba/bgMainBlomagaArticleNP.png') no-repeat ;width: 180px;height: 170px;margin: 0 auto;}
#ichibaMain dd.blomagaArticleNP a {display: block;width: 180px;height: 230px;color: #333;text-decoration: none;}
#ichibaMain dd.blomagaArticleNP a:hover {text-decoration: none;}
#ichibaMain dd.blomagaArticleNP p.blomagaLogo {font-size: 9px;font-weight: bold;color: #fff;padding-top: 8px;padding-left: 10px;}
#ichibaMain dd.blomagaArticleNP p.blomagaLogo span {background: #aaa;padding: 0 3px;}
#ichibaMain dd.blomagaArticleNP p.blomagaText {padding: 7px 25px 0 15px;font-family: 'HGSæ˜ŽæœE','ï¼­ï¼³ æ˜Žæœ';height: 100px;font-size: 16px;word-break:break-all;word-wrap:break-word;white-space: normal;text-align: center;color: #666;}
#ichibaMain dd.blomagaArticleNP p.blomagaAuthor {color: #666;font-size: 11px;padding: 0 20px 0 10px;text-align: right;}

/*---------main blomaga article-----------------*/
#ichibaMain dd.blomagaArticle {background: url('../../../img/watch_zero/ichiba/bgMainBlomagaArticle.png') no-repeat ;width: 180px;height: 170px;margin: 0 auto;}
#ichibaMain dd.blomagaArticle a {display: block;width: 180px;height: 230px;color: #333;text-decoration: none;}
#ichibaMain dd.blomagaArticle a:hover {text-decoration: none;}
#ichibaMain dd.blomagaArticle img {border: 1px solid #999;}
#ichibaMain dd.blomagaArticle p.blomagaLogo {font-size: 9px;font-weight: bold;color: #fff;padding-top: 8px;padding-left: 10px;}
#ichibaMain dd.blomagaArticle p.blomagaLogo span {background: #aaa;padding: 0 3px;}
#ichibaMain dd.blomagaArticle p.blomagaThumbnail {padding: 3px 10px 0;height: 80px;}
#ichibaMain dd.blomagaArticle p.blomagaTitle {padding: 0 15px 0 9px;color: #666;height: 38px;word-break:break-all;word-wrap:break-word;white-space: normal;font-family: 'HGSæ˜ŽæœE','ï¼­ï¼³ æ˜Žæœ';font-weight: normal;}
#ichibaMain dd.blomagaArticle p.blomagaAuthor {color: #666;font-size: 11px;padding: 0 15px 0;text-align: right;}






/*----------------------------------------
3.ã‚³ãƒ³ã‚½ãƒ¼ãƒ«å¸‚å ´
----------------------------------------*/
#ichibaConsole div,
#ichibaConsole dl,
#ichibaConsole dt,
#ichibaConsole dd,
#ichibaConsole ul,
#ichibaConsole ol,
#ichibaConsole li,
#ichibaConsole h1,
#ichibaConsole h2,
#ichibaConsole h3,
#ichibaConsole h4,
#ichibaConsole h5,
#ichibaConsole h6,
#ichibaConsole pre,
#ichibaConsole form,
#ichibaConsole fieldset,
#ichibaConsole input,
#ichibaConsole textarea,
#ichibaConsole p,
#ichibaConsole th,
#ichibaConsole td {padding: 0;margin: 0;}
#ichibaConsole table {border-collapse: collapse;border-spacing: 0;}
#ichibaConsole h1,
#ichibaConsole h2,
#ichibaConsole h3,
#ichibaConsole h4,
#ichibaConsole h5,
#ichibaConsole h6 {font-weight: normal;font-size: 100%;}
#ichibaConsole img { -ms-interpolation-mode: bicubic;border: 0;vertical-align: top; }
#ichibaConsole .rowJustify {clear: both;}

#ichibaConsole {width: 910px;height: 780px;background: #fff;font: 13px/1.231 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro', 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯', 'MS P Gothic', sans-serif;*font-size:small;*font:x-small;border: 1px solid #ccc;border: 3px solid #666;}

#ichibaConsoleMenu {width: 148px;height: 100%;float: left;background: #b3b2b2;}
#ichibaConsoleMenu #ichibaConsoleLogoSpace {height: 50px;line-height: 50px;text-align: center;}
#ichibaConsoleMenu #ichibaConsoleLogoSpace a {display: block;width: 148px;height: 50px;}

#ichibaConsoleMenu #ichibaConsoleMenuSpace {font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li {display: block;width: 138px;height: 40px;line-height: 40px;text-indent: 10px;color: #fff;border-bottom: 1px solid #ccc;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace a {font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;display: block;width: 148px;height: 40px;line-height: 40px;text-indent: 10px;text-decoration: none;color: #fff;background: #414040;border-bottom: 1px solid #878787;font-weight: normal;font-size: 93%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace a:hover {color: #fff;background: #555555;font-weight: normal;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace a.active {font-family: 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro', 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯', 'MS P Gothic', sans-serif;background: #000  url('../../../img/watch_zero/ichiba/menuConsoleIchiba.png') right no-repeat;font-weight: bold;font-size: 108%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.ggood a.active{font-size: 93%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.yshop a.active{font-size: 93%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.nicochannel a.active{font-size: 93%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.nicoshopping a {font-size: 85%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.nicoshopping a.active{font-size: 77%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.mobile a.active{font-size: 93%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.dwangojp a {font-size: 85%;}
#ichibaConsoleMenu #ichibaConsoleMenuSpace li.dwangojp a.active{font-size: 77%;}


#ichibaConsoleMenu #ichibaConsoleHelpSpace {padding-top: 10px;}
#ichibaConsoleMenu #ichibaConsoleHelpSpace a {margin-left: 5px;font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;text-decoration: underline;color: #333;font-weight: normal;font-size: 93%;}
#ichibaConsoleMenu #ichibaConsoleHelpSpace a:hover {text-decoration: none;}
#ichibaConsoleMenu #ichibaConsoleHelpSpace img {vertical-align: middle;padding-right: 3px;}

#ichibaConsoleContents {width: 640px;float: left;}
#ichibaConsoleContents #ichibaConsoleSearch {height: 50px;line-height: 50px;text-align: center;background: #414040;;color: #fff;}
#ichibaConsoleContents #ichibaConsoleSearch .word {background: url('../../../img/watch_zero/ichiba/bgConsoleIchibaSearchIcon.png') 5px no-repeat #fff;border: 1px solid #ccc;padding: 5px 2px 5px 30px;font-family:verdana,arial,helvetica,sans-serif;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;box-shadow: 1px 1px 1px 1px #ddd inset;}
#ichibaConsoleContents #ichibaConsoleSearch .command {line-height: 40px;vertical-align: middle;}
#ichibaConsoleContents #ichibaConsoleSearch select {border: 1px solid #999;padding: 1px;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}

#ichibaConsoleContents #ichibaConsoleOption {line-height: 20px;text-align: center;color: #666;margin-top: 5px;}
#ichibaConsoleContents #ichibaConsoleHeadline {text-align: center;margin : 10px 0;}
#ichibaConsoleContents #ichibaConsoleHeadline a {color: #f00;text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleHeadline a:hover {color: #f00;text-decoration: none;}
#ichibaConsoleContents #ichibaConsoleTagSearch {line-height: 20px;text-align: center;color: #666;margin: 5px 10px 0;}
#ichibaConsoleContents #ichibaConsoleTagSearch a {color: #222;text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleTagSearch a:hover {text-decoration: none;}
#ichibaConsoleContents #ichibaConsoleGenreSearch {line-height: 20px;text-align: center;color: #666;margin: 5px 10px 0;}
#ichibaConsoleContents #ichibaConsoleGenreSearch a {text-decoration: underline;color: #099ef9;}
#ichibaConsoleContents #ichibaConsoleGenreSearch a:hover {text-decoration: none;color: #2bc6f9;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_music {color: #369;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_voice {color: #099;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_video {color: #3c6;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_enter {color: #f93;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_music a {color: #369;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_voice a {color: #099;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_video a {color: #3c6;}
#ichibaConsoleContents #ichibaConsoleGenreSearch .col_enter a {color: #f93;}
#ichibaConsoleContents #ichibaConsoleSearchResult {line-height: 20px;text-align: center;color: #666;margin: 5px 10px 0;}
#ichibaConsoleContents #ichibaConsoleSearchResult a {color: #222;text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleSearchResult a:hover {text-decoration: none;}
#ichibaConsoleContents #ichibaConsoleSearchResult span {font-weight: bold;}

#ichibaConsoleContents #ichibaConsoleDisplayQuantity {line-height: 1.5em;text-align: right;margin-right: 10px;clear: both;color: #333;font-size: 85%;margin-top: 10px;}
#ichibaConsoleContents #ichibaConsoleDisplayQuantity span {font-size: 131%;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleTransition {line-height: 30px;text-align: center;clear: both;}
#ichibaConsoleContents #ichibaConsoleTransition a {text-decoration: none;color: #666;}
#ichibaConsoleContents #ichibaConsoleTransition a:hover {text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleTransition span {font-weight: bold;}

#ichibaConsoleContents #ichibaConsoleAmazonForm {border: 1px solid #ccc;margin: 20px 20px 0;padding: 10px;text-align: center;background: #fafdfc;}
#ichibaConsoleContents #ichibaConsoleAmazonForm span.search {color: #666;}
#ichibaConsoleContents #ichibaConsoleAmazonForm span.search input.text {border: 2px solid #999;width: 96px;}
#ichibaConsoleContents #ichibaConsoleAmazonForm span.search a {color: #666;text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleAmazonForm span.search a:hover {color: #666;text-decoration: none;}
#ichibaConsoleContents #ichibaConsoleAmazonForm input.button {background: url('../../../img/watch_zero/ichiba/btnConsoleIchiba.png');padding:2px 5px 2px;margin: 3px;border-bottom: 1px solid #666;border-left: 1px solid #999;border-right: 1px solid #999;border-top: 1px solid #ccc;}
#ichibaConsoleContents #ichibaConsoleAmazonForm span.eke {color: #999;font-size: 12px;}


#ichibaConsoleContents #ichibaConsoleItemList table {margin: 0 5px 10px;width: 310px;border: 1px solid #ccc;float: left;font-size: 93%;color: #999;}
#ichibaConsoleContents #ichibaConsoleItemList td {vertical-align: top;padding: 5px;}
#ichibaConsoleContents #ichibaConsoleItemList a.itemname {color: #039;font-weight: bold;text-decoration: none;}
#ichibaConsoleContents #ichibaConsoleItemList a:hover.itemname {text-decoration:underline ;}
#ichibaConsoleContents #ichibaConsoleItemList .reservation {color: #f00;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemList .buy {color: #f60;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemList td.command {text-align: right;}
#ichibaConsoleContents #ichibaConsoleItemList input {background: url('../../../img/watch_zero/ichiba/btnConsoleIchiba.png');padding:2px 5px 2px;margin: 3px;border-bottom: 1px solid #666;border-left: 1px solid #999;border-right: 1px solid #999;border-top: 1px solid #ccc;}
#ichibaConsoleContents #ichibaConsoleItemList input:hover {cursor: pointer;}
#ichibaConsoleContents #ichibaConsoleItemList .lblChannel {position: absolute;line-height: 0;}
#ichibaConsoleContents #ichibaConsoleItemList .consoleChannel {width: 80px;}

/*æºå¸¯ã‚³ãƒ³ãƒ†ãƒ³ãƒ„
---------------------------------*/
#ichibaConsoleContents #ichibaConsoleItemList table.mobile {line-height: 1.5em;margin: 0 5px 10px;width: 310px;border: 1px solid #ccc;float: left;font-size: 93%;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile .itemname {color: #333;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile .maker {color: #666;font-weight: normal;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile ul.itemlist {list-style-type: disc;padding-left: 20px;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile a {text-decoration: none;color: #039;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile a:hover {text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile .col_music {color: #369;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile .col_voice {color: #099;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile .col_video {color: #3c6;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile .col_enter {color: #f93;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile a.paste {text-decoration: underline;color: #000;}
#ichibaConsoleContents #ichibaConsoleItemList table.mobile a:hover.paste {text-decoration: none;}

/*å…ƒã«æˆ»ã™&è²¼ä»˜å±¥æ­´
---------------------------------*/
#ichibaConsoleContents #ichibaConsoleItemListBack table {margin: 0 10px;width: 620px;font-size: 93%;}
#ichibaConsoleContents #ichibaConsoleItemListBack td {padding-bottom: 10px;vertical-align: top;}
#ichibaConsoleContents #ichibaConsoleItemListBack td.time {text-align: right;width: 90px;color: #666;padding-right: 10px;}
#ichibaConsoleContents #ichibaConsoleItemListBack td.item a {color: #039;text-decoration: none;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemListBack td.item a:hover {text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleItemListBack td.button {width: 180px;text-align: right;}
#ichibaConsoleContents #ichibaConsoleItemListBack td.button  a {color: #699;text-decoration: underline;}
#ichibaConsoleContents #ichibaConsoleItemListBack td.button  a:hover {text-decoration: none;}

#ichibaConsoleContents #ichibaConsoleItemListBack .reservation {color: #f00;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemListBack .buy {color: #f60;font-weight: bold;}
#ichibaConsoleContents #ichibaConsoleItemListBack input {background: url('../../../img/watch_zero/ichiba/btnConsoleIchiba.png');padding:3px 5px 3px;margin: 3px;border-bottom: 1px solid #666;border-left: 1px solid #999;border-right: 1px solid #999;border-top: 1px solid #ccc;font-size: 93%;font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;}
#ichibaConsoleContents #ichibaConsoleItemListBack .pasted {color: #666;}


/*ãƒ­ãƒ¼ãƒ‡ã‚£ãƒ³ã‚°ã€ã‚¢ã‚¤ãƒ†ãƒ ãªã—
---------------------------------*/
#ichibaConsoleContents #ichibaConsoleItemList .loading {text-align: center;font-size: 182%;margin: 100px 0;}
#ichibaConsoleContents #ichibaConsoleItemList .noItem {color: #999;text-align: center;margin: 80px 0 180px;}
#ichibaConsoleContents #ichibaConsoleItemList .noItem span.intro {display: block;text-align: center;font-size: 138.5%;margin-bottom: 60px;}
#ichibaConsoleContents #ichibaConsoleItemList .noItem span.navigate {display: block;width: 450px;margin: 0 auto;text-align: left;}

#ichibaConsoleContents #ichibaConsoleItemList .noItem .search {display: block;height: 40px;line-height: 40px;vertical-align: middle;width: 450px;margin: 0 auto;text-align: left;}
#ichibaConsoleContents #ichibaConsoleItemList .noItem .search .word {background: url('../../../img/watch_zero/ichiba/bgConsoleIchibaSearchIcon.png') 5px no-repeat #fff;border: 1px solid #ccc;padding: 5px 2px 5px 30px;font-family:verdana,arial,helvetica,sans-serif;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;box-shadow: 1px 1px 1px 1px #ddd inset;cursor: text;}
#ichibaConsoleContents #ichibaConsoleItemList .noItem .search .command {line-height: 40px;vertical-align: middle;border: none;background: none;}
#ichibaConsoleContents #ichibaConsoleItemList .noItem .eke {display: block;width: 450px;margin: 0 auto;text-align: left;}

#ichibaConsoleContents #ichibaConsoleFix {font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;text-align: center;margin-top: 10px;color: #999;font-size: 85%;height: 80px;}
#ichibaConsoleContents #ichibaConsoleFix input {padding: 10px 20px;margin-bottom: 30px;font-size: 138.5%;clear: both;}


/*ãƒ—ãƒ¬ãƒ“ãƒ¥ãƒ¼ã‚¨ãƒªã‚¢
---------------------------------*/
#ichibaConsolePreview {width: 122px;height: 100%;float: left;}
#ichibaConsolePreview img {vertical-align: middle;}
#ichibaConsolePreview #ichibaConsoleEnd {height: 45px;text-align: right;line-height: 1.5em;background: #414040;padding-right: 3px;padding-top: 5px;}
#ichibaConsolePreview #ichibaConsoleEnd a {color: #ccc;text-decoration: underline;font-size: 77%;font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;}
#ichibaConsolePreview #ichibaConsoleEnd a:hover {text-decoration: none;}
#ichibaConsolePreview #ichibaConsoleEnd a img:hover{filter: alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
#ichibaConsolePreview #ichibaConsolePreviewIntro {height: 40px;line-height: 40px;text-align: center;color: #333;background: #b3b2b2;border-left: 2px solid #999;}
#ichibaConsolePreview #ichibaConsolePreviewData {height: 690px;overflow: auto;border-left: 2px solid #999;font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;background: #ebebed;word-break:break-all;word-wrap:break-word;white-space: normal;}
#ichibaConsolePreview #ichibaConsolePreviewData dl {padding: 15px 8px 30px;border-bottom: 2px solid #999;margin-top: 15px;}
#ichibaConsolePreview #ichibaConsolePreviewData dt {text-align: center;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.itemname {color: #039;font-size: 93%;padding-top: 3px;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.itemname a {color: #039;text-decoration: none;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.itemname a:hover {color: #039;text-decoration: underline;}
#ichibaConsolePreview #ichibaConsolePreviewData input {background: url('../../../img/watch_zero/ichiba/btnConsoleIchiba.png');padding:2px;margin: 2px;border-bottom: 1px solid #666;border-left: 1px solid #999;border-right: 1px solid #999;border-top: 1px solid #ccc;font-size: 85%;font-family: 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS P Gothic',sans-serif;cursor: pointer;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.ng a {color: #699;font-size: 85%;text-decoration: underline;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.ng a:hover {text-decoration: none;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.mobile {color: #06c;text-decoration: none;font-family:'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ Pro W3', 'Hiragino Mincho Pro', 'ï¼­ï¼³ ï¼°æ˜Žæœ','MS PMincho', serif;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.mobile a {color: #06c;text-decoration: none;}
#ichibaConsolePreview #ichibaConsolePreviewData dd.mobile a:hover {text-decoration: none;}
