/* å…±é€šãƒ˜ãƒƒãƒ€ã®ã‚¹ã‚¿ã‚¤ãƒ« siteHeader.css ã«è¿½åŠ ã§ã‚µãƒ¼ãƒ“ã‚¹ç‹¬è‡ªã®ã‚¹ã‚¿ã‚¤ãƒ«ã‚’å®šç¾©ã—ãŸã„ã¨ãã¯ã“ã“ã«æ›¸ã */

/* ãƒ‹ãƒƒã‚¯ãƒãƒ¼ãƒ ã®ã‚µã‚¤ã‚ºèª¿æ•´ */
#siteHeader #siteHeaderInner ul li #siteHeaderUserNickNameContainer {
    padding: 0 0 0 2px;
    max-width: 80px;
    max-height: 36px;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-kerning: none; /* Chrome+Win10ã§ãƒ‹ãƒƒã‚¯ãƒãƒ¼ãƒ ãŒ2è¡Œã«ãªã‚‹å¯¾ç­–ï¼ˆChromeã®ãƒã‚°ï¼Ÿï¼‰ */
}
#siteHeader #siteHeaderInner ul li .userNickNameSuffix{
    padding: 0 4px 0 0;
}

/* ä¸€èˆ¬ä¼šå“¡ã®ã¿å…±é€šãƒ˜ãƒƒãƒ€ã®è¦ç´ é–“ã‚’è©°ã‚ã‚‹å¾®èª¿æ•´ */
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) #siteHeaderUserIconContainer {
    padding: 0;
}
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) #siteHeaderUserContainer .siteHeaderAva {
    padding: 0;
}
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) #siteHeaderUserNickNameContainer {
    max-width: 68px;
}
/* member */
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) a.siteHeaderUpgrade{
    margin-right: 4px;
}
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) a.siteHeaderUpgrade span{
    padding: 0;
}
/* points */
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) .siteHeaderNicopo{
    margin-left: 0;
}
#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) .siteHeaderNicopo .siteHeaderNicopoBalance span{
    padding-left: 0;
}
