doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title The Earth The Movie
    link(rel='stylesheet', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400', rel='stylesheet', type='text/css')

  body
    .wrapper
      .three
      main.main
        .bg
        .browser-frame
          .right
          .left
          .title
        .frame-open
        .bg-site
        .cover
        .media
          .face
            .movie
              canvas
          .controller
            button.btn-gotohead Go to head
            button.btn-play Play / Pause
            button.btn-sound(disabled='') Sound on / off
            span.time
              time.time-cur
              | /
              time.time-total
            input.slider(type='range', min='0', max='1', step='0.00001', value='0')
            button.btn-setting(disabled='') Setting
        .overlay

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/lodash.min.js')
    script(src='js/lib/three.min.js')
    script(src='js/lib/CanvasRenderer.js')
    script(src='js/lib/Projector.js')
    script(src='js/lib/stats.min.js')
    script(src='js/main.js')
