@import "reset";

@function image-url($url) {
  $prefix: "../img/";
  @return url(#{$prefix}#{$url});
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

  user-select: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;

  overflow: hidden;
}

main {
  display: block;
}

button {
  border: none;
  background-color: transparent;

  margin: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &[disabled]:hover {
    cursor: default;
  }
}

.wrapper {
  position: static;
}

.three {
  position: absolute;

  left: 0;
  top: 0;

  z-index: -1;
}

.main {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: image-url("bg.jpg");
  background-size: cover;

  z-index: 0;
}

.browser-frame {
  $height: 61px;

  position: absolute;

  width: 800px;

  left: 0;
  top: 0;

  margin-top: - $height;

  z-index: 1;

  .left {
    position: absolute;

    left: 0;
    top: 0;

    width: 300px;
    height: $height;
    background-image: image-url("browser-frame-left.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0% 0;
  }

  .right {
    position: absolute;

    right: 0;
    top: 0;

    width: 100%;
    height: $height;
    background-image: image-url("browser-frame-right.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  .title {
    position: absolute;

    left: 20px;
    top: 7px;

    font-size: 11px;
  }
}

.bg-site {
  position: static;

  iframe {
    background-color: #fff;
  }
}

.cover {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.media {
  position: absolute;

  left: 50%;
  top: 50%;

  width: 640px;
  height: 380px;

  margin-left: -320px;
  margin-top: -190px;

  z-index: 1;

  .face {
    position: absolute;

    left: 0;
    top: 0;

    width: 640px;
    height: 350px;

    background-color: #000;

    z-index: 0;

    .movie {
      position: absolute;

      width: 100%;
      height: 100%;

      left: 0;
      top: 0;

      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }

  .controller {
    position: absolute;

    left: 0;
    top: 350px;

    width: 640px;
    height: 30px;

    color: #fff;
    background-color: #333;

    .time {
      display: inline-block;
      width: 280px;

      font-family: Roboto;
      font-weight: 400;
      font-size: 9px;

      text-align: center;
    }

    .btn-gotohead {
      width: 30px;
      height: 30px;
      background-image: image-url("gotohead.svg");
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;

      text-indent: -9999px;
    }
    .btn-play {
      width: 30px;
      height: 30px;
      background-image: image-url("pause.svg");
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;

      text-indent: -9999px;
    }
    .btn-play.pause {
      background-image: image-url("play.svg");
    }
    .btn-sound {
      width: 30px;
      height: 30px;
      background-image: image-url("sound_on.svg");
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;

      text-indent: -9999px;
    }
    .btn-sound.off {
    }
    .btn-setting {
      width: 30px;
      height: 30px;
      background-image: image-url("setting.svg");
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;

      text-indent: -9999px;
    }
  }

}
