doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title The Earth The Movie
    link(rel='stylesheet', href='../css/style.css')
  body
    .wrapper
      main
        .bg-site
    include ../template/net__gigazine
    script(src='../js/lib/jquery.min.js')
    script(src='../js/lib/lodash.min.js')
    script(src='../js/bg-site-preview.js')
